<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The purpose of this website is to get the uninitiated in the know about about SIPPS, are you currently thinking about or looking for a SIPP? then you're probably in the right place.
</p>
  
