<div class="hero-unit">
  <h1>Kansas City Pensions</h1>
  <br />
  <br />
  <h3>Pensions</h3>
  <p>The world of pensions can be a confusing place.</p>
  <p>
    These are exactly the questions this website seeks to answer, as laid out in our about section we are a largely impartial organisation, just trying to help Joe Public make sense of the world of personal finance.
  </p>
  <br/>
  <strong>Who to trust?</strong>
  <p>
    This is of course subjective to a large extent, though we've outlined some of the pitfalls commonly associated with different SIPP providers, why you should choose some and avoid others.
  </p>
  <br/>
  <strong><%= link_to 'What does it all mean?', glossary_path %></strong>
  <p>
    The number of industry specific terms in financial advice rivals that of the most esotric of scientific disciplines so we've constructed a little glossary to help you wade through the quagmire.
  </p>
</div>
