<div class="content-fluid hero-unit">
  <h3>Pensions</h3>
  <p>The world of pensions can be a confusing place.

  Who to trust? Where to put your money? What's a Sipp? What the hell does drawdown mean?</p>
  <p>
    The level of advice required for a sipp of course varies from person to person, depending on their income level, their requirements for Sipp performance, their attitudes to risk and a host of more personal factors.
    For a large number of people an off the shelf solution will be more than sufficient, it's easier, less time consuming and the knowledge that you will be in exactly the same boat as numerous others is often reassuring. However, just as there are those willing to spend a little extra time and money to get a tailor made suit, there are those for whom a bespoke SIPP will be more appropriate, allowing both a greater degree of creativity with it's design and flexibility in its control.
  </p>
</div>
