<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	<%= gravatar_for @user %>
	<br/>
	<%= @user.name %>
	<br/>
	<br/>
	<br/>
	<br/>
	<%= @user.email %>
      </h1>
    </section>
  </aside>
  <% if current_user && current_user.admin? %>
    <div id="userAdmin">
      <p> User Status: <%= @user.forem_state %> </p>
      <select style="width: 150px">
	<option value="approved">Approved</option>
	<option value="spam">spam</option>
      </select>
      <button>Change status</button>
    </div>
  <% end %>
</div>
